@font-face {
    font-family: Elysian Fields;
    src: url(fonts/Elysian\ Fields.otf);
}
nav{
    background-color:aquamarine;
    width:100%;
    border-radius: 20px 20px 20px 20px;
    text-align: left;
}
.nav-item{
    display:inline-block;
    border:1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    /* text-align:center; */
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size:xx-large;

}
a{
    text-decoration: none;
    padding: 10px;
    /* text-align: center; */
}
.nav-item:hover{
    background-color: greenyellow; 
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:aquamarine;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#contact{
    background-color: palevioletred;
    /* display: block; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;

}
#about{
    background-color: blueviolet;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height:auto;
    line-height: auto;
    padding: 10px;
}
p{
    margin:2px;
} 
#gallery{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
    background-color: black;
}
#image1,#image2,#image3{
    /* height:auto; */
    /* width:auto; */
    border:1px solid red;
    text-align: center;
    margin: 20px;
   
}
img{
    width:350px;
    height:200px;
}
/* #image1{
    position:relative;
    max-width:1000px;
}*/
.text{
    /* position:absolute; */
    /* align-self: center; */
    font-family:Elysian Fields;
    font-size: x-small;
    background-color: chocolate;
} 